@{<title>@ViewData["Title"] - Servisfy</title>
	Layout = null;
}
<!DOCTYPE html>
<html lang="tr">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Servisfy!</title>
	<!-- plugins:css -->
	<link rel="stylesheet" href="~/Dashboard/vendors/feather/feather.css">
	<link rel="stylesheet" href="~/Dashboard/vendors/ti-icons/css/themify-icons.css">
	<link rel="stylesheet" href="~/Dashboard/vendors/css/vendor.bundle.base.css">
	<!-- endinject -->
	<!-- Plugin css for this page -->
	<link rel="stylesheet" href="~/Dashboard/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
		<link rel="stylesheet" href="~/ayarlar/style.css">

	<link rel="stylesheet" href="~/Dashboard/vendors/ti-icons/css/themify-icons.css">
	<link rel="stylesheet" type="text/css" href="~/Dashboard/js/select.dataTables.min.css">
	<!-- End plugin css for this page -->
	<!-- inject:css -->
	<link rel="stylesheet" href="~/Dashboard/css/vertical-layout-light/style.css">
	<!-- endinject -->
	<link href="~/img/favicon.png" rel="icon">
	<link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">
</head>

<body>
	<div class="container-scroller">
		<!-- partial:partials/_navbar.html -->
		<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
			<div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
				<a class="navbar-brand brand-logo mr-5" href="@Url.Action("Dash","Dash")">
					<img src="~/Dashboard/images/logo.png" class="mr-2" alt="logo" />
				</a>

			</div>
			<div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
				<button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
					<span class="icon-menu"></span>
				</button>
				<ul class="navbar-nav mr-lg-2">
					<li class="nav-item nav-search d-none d-lg-block">
						<div class="input-group">
							<div class="input-group-prepend hover-cursor" id="navbar-search-icon">
								<span class="input-group-text" id="search">
									<i class="icon-search"></i>
								</span>
							</div>
							<input type="text" class="form-control" id="navbar-search-input" placeholder="Arama" aria-label="search" aria-describedby="search">
						</div>
					</li>
				</ul>

				<ul class="navbar-nav navbar-nav-right">
					<li class="nav-item dropdown">
						<a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href=# data-toggle="dropdown">
							<i class="icon-bell mx-0"></i>
							<span class="count"></span>
						</a>
						<div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
							<p class="mb-0 font-weight-normal float-left dropdown-header">
								<strong>Bildirimler</strong>
							</p>

							<a href="" class="dropdown-item preview-item">
								<img src="~/png/ogrenci.png" alt="Öğrenci" width="40">
								<div class="preview-item-content">
									<h6 class="preview-subject font-weight-normal">Öğrenciniz servisten indi.</h6>
									<p class="font-weight-light small-text mb-0 text-muted">
										15 dakika önce
									</p>
								</div>
							</a>
							<a href="" class="dropdown-item preview-item">
								<img src="~/png/ogrenci.png" alt="Öğrenci" width="40">

								<div class="preview-item-content">
									<h6 class="preview-subject font-weight-normal">Öğrenciniz servise bindi.</h6>
									<p class="font-weight-light small-text mb-0 text-muted">
										50 dakika önce
									</p>
								</div>

							</a>
							<a href="" class="dropdown-item preview-item">
								<img src="~/png/Servis.png" alt="Servis" width="40">
								<div class="preview-item-content">
									<h6 class="preview-subject font-weight-normal">
										Araç 10 dakika içinde evinize ulaşacaktır.
									</h6>
									<p class="font-weight-light small-text mb-0 text-muted">
										1 saat önce
									</p>
								</div>
							</a>
							<a href="" class="dropdown-item preview-item">
								<img src="~/png/binmedi.png" alt="Binmedi" width="40">
								<div class="preview-item-content">
									<h6 class="preview-subject font-weight-normal">Öğrenciniz servise binmedi.</h6>
									<p class="font-weight-light small-text mb-0 text-muted">
										1 gün önce
									</p>
								</div>
							</a>

							<a href="@Url.Action("Bildirimler","Bildirim")" class="dropdown-item text-center">
								<b>
									<ins>
										Tüm bildirimleri gör
									</ins>
								</b>
							</a>

						</div>
					</li>

					<li class="nav-item nav-profile dropdown">
						<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
							<img src="~/Dashboard/images/faces/face28.jpg" alt="profile" />
						</a>
						<div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
							<a class="dropdown-item" href="@Url.Action("Ayarlar","Ayarlar")">
								<i class="ti-settings text-primary"></i>
								Ayarlar
							</a>
							<a class="dropdown-item" href="@Url.Action("Login", "Auth")">
								<i class="ti-power-off text-primary"></i>
								Çıkış Yap
							</a>
						</div>
					</li>
				</ul>

			</div>

		</nav>


		<!-- partial -->
		<div class="container-fluid page-body-wrapper">
			<!-- partial:partials/_settings-panel.html -->
			<!-- partial -->
			<!-- partial:partials/_sidebar.html -->
			<nav class="sidebar sidebar-offcanvas" id="sidebar">
				<ul class="nav">
					<li class="nav-item">
						<a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
							<i class="icon-layout menu-icon"></i>
							<span class="menu-title">Öğrenci Takip</span>
							<i class="menu-arrow"></i>
						</a>

						<div class="collapse" id="ui-basic">
							<ul class="nav flex-column sub-menu">
								<li class="nav-item"> <a class="nav-link" href="@Url.Action("OgrNrd","OgrNerede")">Öğrencim Nerede?</a></li>
								<li class="nav-item"> <a class="nav-link" href="@Url.Action("Bildirimler","Bildirim")">Bildirimler</a></li>
							</ul>
						</div>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" data-toggle="collapse" href="#ui-basic2" aria-expanded="false" aria-controls="ui-basic">
							<i class="icon-layout menu-icon"></i>
							<span class="menu-title">Servis Takip</span>
							<i class="menu-arrow"></i>
						</a>
						<div class="collapse" id="ui-basic2">
							<ul class="nav flex-column sub-menu">
								<li class="nav-item"> <a class="nav-link" href="@Url.Action("Servis","Servis")">Servisim Nerede?</a></li>
								<li class="nav-item"> <a class="nav-link" href="@Url.Action("Yonetim","Yonetim")">Servis Yönetim</a></li>
							</ul>
						</div>
					</li>


				</ul>
			</nav>
			@RenderBody()
			<!-- partial -->
			<!-- main-panel ends -->
		</div>
		<!-- page-body-wrapper ends -->
	</div>
	<!-- container-scroller -->
	<!-- plugins:js -->
	<script src="~/Dashboard/vendors/js/vendor.bundle.base.js"></script>
	<!-- endinject -->
	<!-- Plugin js for this page -->
	<script src="~/Dashboard/vendors/chart.js/Chart.min.js"></script>
	<script src="~/Dashboard/vendors/datatables.net/jquery.dataTables.js"></script>
	<script src="~/Dashboard/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
	<script src="~/Dashboard/js/dataTables.select.min.js"></script>

	<!-- End plugin js for this page -->
	<!-- inject:js -->
	<script src="~/Dashboard/js/off-canvas.js"></script>
	<script src="~/Dashboard/js/hoverable-collapse.js"></script>
	<script src="~/Dashboard/js/template.js"></script>
	<script src="~/Dashboard/js/settings.js"></script>
	<script src="~/Dashboard/js/todolist.js"></script>
	<!-- endinject -->
	<!-- Custom js for this page-->
	<script src="~/Dashboard/js/dashboard.js"></script>
	<script src="~/Dashboard/js/Chart.roundedBarCharts.js"></script>
	<!-- End custom js for this page-->
</body>

</html>


