@{
	ViewData["Title"] = "Ayarlar";
	Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
@model ServisFy.Models.Auth.AyarlarDto

<!DOCTYPE html>
<html lang="tr">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ayarlar</title>
</head>

<body>
	<div class="wrapper bg-white mt-sm-5">
		<h4 class="pb-4 border-bottom">Hesap Ayarları</h4>
		<div class="d-flex align-items-start py-3 border-bottom">
			<img src="~/Dashboard/images/faces/face27.jpg" class="img" alt="" width="300">
			<div class="pl-sm-4 pl-2" id="img-section">
				<br>

				<b>Profil Resmi</b>

				<br>
				<br>
				<button class="btn button border"><b>Yükle</b></button>
			</div>
		</div>
		<div class="py-6">
			<div class="row py-6">
				@using (Html.BeginForm())
				{
					<div class="form-group">
						@Html.TextBoxFor(x=>x.k_adi,new {@class="form-control form-control-lg",@placeholder="Adınız", @required="required"})

					</div>
					<div class="form-group">
						@Html.TextBoxFor(x=>x.k_soyadi,new {@class="form-control form-control-lg",@placeholder="Soyadınız", @required="required"})
					</div>

					<div class="form-group">
						@Html.TextBoxFor(x=>x.k_mail,new {@class="form-control form-control-lg",@placeholder="E-Posta",@type="email", @required="required"})

					</div>
					<div class="form-group">
						@Html.TextBoxFor(x=>x.tel_no,new {@class="form-control form-control-lg",@placeholder="Tel No", @required="required"})

					</div>






					<div class="py-3 pb-4 border-bottom">
						<input type="submit" formmethod="post" formaction="/Dash/Dash" value="Kaydet" class="btn btn-primary mr-3" />

						<a href="@Url.Action("Dash","Dash")" class="btn border button">İptal </a>
					</div>
				}
			</div>

		</div>
	</div>
</body>

</html>